*{
	margin: 0;
	padding: 0;
}
.dropdown{
	position: relative;
	display: inline-block;
}
/*sub-menu*/
.dropdown-content{
	display: none;
	position: absolute;
	z-index: 1;
	list-style: none;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content a{
	color: black;
	padding: 10px 10px;
	text-decoration: none;
}

