
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Seminar Table</h4>
            <table class="table table-hover" id="tableSeminar">
                <thead>
                    <tr>
                        <th> Seminar </th>
                        <th> Presenter </th>
                        <th> Time </th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody id="tbobySeminar">
                    @if (ViewBag.listSeminarDTO != null)
                        @foreach (var seminar in ViewBag.listSeminarDTO)
                        {
                            <tr>
                                <td hidden>@seminar.Id</td>
                                <td>
                                    <img src="~/img/seminar/@seminar.Img" class="mr-2" alt="image"> @seminar.Name
                                </td>
                                <td>@seminar.NamePresenters</td>
                                <td>@seminar.Day.ToString("dd/MM/yyyy") </td>
                                @if (seminar.Day < DateTime.Now && seminar.Status)
                                {
                                    <td><label class="badge badge-gradient-success">Completed</label></td>
                                }
                                else if (seminar.Day >= DateTime.Now && seminar.Status)
                                {
                                    <td><label class="badge badge-gradient-warning">Coming soon</label></td>
                                }
                                else
                                {
                                    <td><label class="badge badge-gradient-danger">False</label></td>
                                }
                                <td>
                                    <button class="btn btn-gradient-warning">
                                        <a href="/staff/seminar/detail?idSeminar=@seminar.Id">
                                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                                        </a>
                                    </button>

                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

