
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section id="intro" >
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">Aptech</h1>
        <p class="mb-4 pb-0">212-214 Nguyen Dinh Chieu Street, Ward 6,District 3,HCM city</p>
        <a href="https://www.youtube.com/watch?v=E1TPjQmVihA&t=15s" class="venobox play-btn mb-4" data-vbtype="video"
           data-autoplay="true"></a>
        <a asp-controller="home" asp-action="about" class="about-btn scrollto">About The Event</a>
    </div>
</section> 